---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="intro">
<header>
<h1>All the stuff we like in one place. Nioce.</h1>
</header>
<article>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
</article>
</div>

<section class="post-list">
{{ content | safe }}
</section>
