---
layout: layouts/base.njk
templateClass: tmpl-home
---

<h1>All the stuff we like in one place. Nioce.</h1>

<article>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
<section>Topic</section>
</article>

{{ content | safe }}
